* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER SECTION */
.header {
    background-color: #5EB1BF;
    padding: 20px 10px;
}

/* MAIN SECTION */
.main {
    background-color: #F5F5F5;
    padding: 20px 10px;
    min-height: 50vh;
}

/* MAIN ELEMENTS */
.main-container {
    background-color: #DEF2F8;
    margin: 45px auto;
    border: 1px solid black;
    flex-direction: column;
}

#input-container {
    max-width: 300px;
    height: 140px;
    gap: 10px;
}

#output-container {
    max-width: 300px;
    height: 100px;
}

.input-form {
    padding: 2px;
    width: 150px;
    border-radius: 0;
    border: 1px solid black;
    background-color: #F5F5F5;
}

/* FOOTER SECTION */
.footer {
    padding: 20px 0;
    background-color: #5EB1BF;
    gap: 10px;
}

.footer-link {
    text-decoration: none;
    color: black;
}